<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fire.dao.ModulesMapper">
  <resultMap id="BaseResultMap" type="com.fire.bean.Modules">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="ParentId" jdbcType="INTEGER" property="parentid" />
    <result column="Path" jdbcType="VARCHAR" property="path" />
    <result column="Weight" jdbcType="INTEGER" property="weight" />
    <result column="Ops" jdbcType="VARCHAR" property="ops" />
    <result column="Int0" jdbcType="INTEGER" property="int0" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Name, ParentId, Path, Weight, Ops, Int0
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from modules
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from modules
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fire.bean.Modules">
    insert into modules (Id, Name, ParentId, 
      Path, Weight, Ops, 
      Int0)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{path,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER}, #{ops,jdbcType=VARCHAR}, 
      #{int0,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fire.bean.Modules">
    insert into modules
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="parentid != null">
        ParentId,
      </if>
      <if test="path != null">
        Path,
      </if>
      <if test="weight != null">
        Weight,
      </if>
      <if test="ops != null">
        Ops,
      </if>
      <if test="int0 != null">
        Int0,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="ops != null">
        #{ops,jdbcType=VARCHAR},
      </if>
      <if test="int0 != null">
        #{int0,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fire.bean.Modules">
    update modules
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        ParentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        Path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        Weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="ops != null">
        Ops = #{ops,jdbcType=VARCHAR},
      </if>
      <if test="int0 != null">
        Int0 = #{int0,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fire.bean.Modules">
    update modules
    set Name = #{name,jdbcType=VARCHAR},
      ParentId = #{parentid,jdbcType=INTEGER},
      Path = #{path,jdbcType=VARCHAR},
      Weight = #{weight,jdbcType=INTEGER},
      Ops = #{ops,jdbcType=VARCHAR},
      Int0 = #{int0,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryBymodule" resultMap="BaseResultMap" parameterType="list">

    select * from modules where id in

    <foreach collection="list" separator="," item="id" open="(" close=")">
      #{id}
    </foreach>

  </select>
  <select id="queryModules" resultMap="BaseResultMap" >
    select *from modules
  </select>
  <insert id="modulesInsert" parameterType="com.fire.bean.Modules">
    insert into modules(Id,Name) values (#{id},#{name})
  </insert>
  <delete id="modulesDelete" parameterType="java.lang.Integer">
    delete from modules where Id=#{id}
  </delete>
  <update id="modulesUpdate" parameterType="com.fire.bean.Modules">
    update modules set Name=#{name} where Id=#{id}
   </update>


</mapper>