<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fire.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.fire.bean.Permission">
    <id column="permissionId" jdbcType="INTEGER" property="permissionid" />
    <result column="permissionValue" jdbcType="VARCHAR" property="permissionvalue" />
    <result column="permissionModule" jdbcType="VARCHAR" property="permissionmodule" />
    <result column="permissionName" jdbcType="VARCHAR" property="permissionname" />
    <result column="permissionLastUpdateTime" jdbcType="TIMESTAMP" property="permissionlastupdatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    permissionId, permissionValue, permissionModule, permissionName, permissionLastUpdateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where permissionId = #{permissionid,jdbcType=INTEGER}
  </select>
  <!--<select id="queryPer" resultMap="BaseResultMap">-->
    <!--select*from permission-->
  <!--</select>-->
  <delete id="deletePer" parameterType="java.lang.Integer">
    delete from permission  where permissionId = #{id}
  </delete>
  <insert id="insertPer" parameterType="com.fire.bean.Permission" >
    insert into rolespermission (permissionId,rolesid) values (#{perid},#{rolesid})
  </insert>

  <select id="queryMyPermission" resultMap="BaseResultMap">
    select * from permission where permissionId not in (
    select permissionId from rolespermission where rolesid=#{rid}
    )
  </select>
  <select id="queryPer" resultMap="BaseResultMap">
    select * from permission where permissionId in (
    select permissionId from rolespermission where rolesid=#{rid}
    )
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where permissionId = #{permissionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fire.bean.Permission">
    insert into permission (permissionId, permissionValue, permissionModule, 
      permissionName, permissionLastUpdateTime
      )
    values (#{permissionid,jdbcType=INTEGER}, #{permissionvalue,jdbcType=VARCHAR}, #{permissionmodule,jdbcType=VARCHAR}, 
      #{permissionname,jdbcType=VARCHAR}, #{permissionlastupdatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fire.bean.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionid != null">
        permissionId,
      </if>
      <if test="permissionvalue != null">
        permissionValue,
      </if>
      <if test="permissionmodule != null">
        permissionModule,
      </if>
      <if test="permissionname != null">
        permissionName,
      </if>
      <if test="permissionlastupdatetime != null">
        permissionLastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionid != null">
        #{permissionid,jdbcType=INTEGER},
      </if>
      <if test="permissionvalue != null">
        #{permissionvalue,jdbcType=VARCHAR},
      </if>
      <if test="permissionmodule != null">
        #{permissionmodule,jdbcType=VARCHAR},
      </if>
      <if test="permissionname != null">
        #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="permissionlastupdatetime != null">
        #{permissionlastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fire.bean.Permission">
    update permission
    <set>
      <if test="permissionvalue != null">
        permissionValue = #{permissionvalue,jdbcType=VARCHAR},
      </if>
      <if test="permissionmodule != null">
        permissionModule = #{permissionmodule,jdbcType=VARCHAR},
      </if>
      <if test="permissionname != null">
        permissionName = #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="permissionlastupdatetime != null">
        permissionLastUpdateTime = #{permissionlastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where permissionId = #{permissionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fire.bean.Permission">
    update permission
    set permissionValue = #{permissionvalue,jdbcType=VARCHAR},
      permissionModule = #{permissionmodule,jdbcType=VARCHAR},
      permissionName = #{permissionname,jdbcType=VARCHAR},
      permissionLastUpdateTime = #{permissionlastupdatetime,jdbcType=TIMESTAMP}
    where permissionId = #{permissionid,jdbcType=INTEGER}
  </update>
</mapper>