<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fire.dao.RolesMapper">
  <resultMap id="BaseResultMap" type="com.fire.bean.Roles">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Int0" jdbcType="INTEGER" property="int0" />
    <result column="String0" jdbcType="VARCHAR" property="string0" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Name, Int0, String0
  </sql>
  <select id="selectByAlls" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from roles
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByAll" resultMap="BaseResultMap">
    select *from roles
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from roles
    where Id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="delectRoles" parameterType="java.lang.String" >
    delete from roles where Id=#{id}
  </delete>

  <update id="updateRoles"  parameterType="com.fire.bean.Roles">
    update roles set Name=#{name} where Id=#{id}
   </update>
  <insert id="insert" parameterType="com.fire.bean.Roles">
    insert into roles (Id, Name, Int0, 
      String0)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{int0,jdbcType=INTEGER}, 
      #{string0,jdbcType=VARCHAR})
  </insert>

  <insert id="addRoles" parameterType="com.fire.bean.Roles">
    insert into roles(Id,Name)values (#{id},#{name})
  </insert>

  <insert id="insertSelective" parameterType="com.fire.bean.Roles">
    insert into roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="int0 != null">
        Int0,
      </if>
      <if test="string0 != null">
        String0,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="int0 != null">
        #{int0,jdbcType=INTEGER},
      </if>
      <if test="string0 != null">
        #{string0,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fire.bean.Roles">
    update roles
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="int0 != null">
        Int0 = #{int0,jdbcType=INTEGER},
      </if>
      <if test="string0 != null">
        String0 = #{string0,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fire.bean.Roles">
    update roles
    set Name = #{name,jdbcType=VARCHAR},
      Int0 = #{int0,jdbcType=INTEGER},
      String0 = #{string0,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>